.App {
	padding: 30px;
	display: flex;
}

.App>div {
	margin-right: 50px;
}

.input:focus {
	outline: none;
}

.errorInput {
	border: 2px solid red;
}

.errorMessage {
	color: red;
}

.task {
	font-weight: 600;
}

.completedTask {
	text-decoration: line-through;
	opacity: 0.6;
}

.filterButton {
	padding: 3px 5px;
	border: none;
	border-radius: 3px;
}

.filterAll {
	background-color: #3e59e4;
}

.filterActive {}

.filterCompleted {}