* {
	margin: 0;
	padding: 0;
}

ul {
	padding: 30px 20px 20px;
}

button {
	cursor: pointer;
}

.App {
	padding: 30px;
	display: flex;
}

.App>div {
	margin-right: 50px;
}

.todolistBlock {
	padding: 15px;
	border: 3px solid #3e59e4;
	border-radius: 5px;
}

.inputGroup {
	display: flex;
	height: 25px;
	position: relative;
}

.input {
	flex: 1 1 auto;
	padding-left: 5px;
}

.input:focus {
	outline: none;
}

.addTaskButton {
	margin-left: 5px;
	padding: 1px 9px 0;
	border: none;
	border-radius: 3px;
	background-color: #3e59e4;
	color: #fff;
	font-size: 18px;
	transition: 0.4s;
}

.addTaskButton:disabled {
	opacity: 0.5;
}

.errorInput {
	border: 2px solid red;
}

.errorMessage {
	position: absolute;
	left: 0;
	bottom: -22px;
	color: red;
}

.task {
	font-weight: 600;
	color: #333;
}

.completedTask {
	text-decoration: line-through;
	opacity: 0.6;
}

.filterButton {
	padding: 5px 15px;
	border: none;
	border-radius: 3px;
	background-color: #939393;
	color: #fff;
	transition: 0.4s;
}

.filterButton:not(:last-child) {
	margin-right: 5px;
}

.filterButton:hover,
.addTaskButton:hover {
	opacity: 0.8;
}

.filterButton:active,
.addTaskButton:active {
	color:#000;
}

.addTaskButton:disabled:hover {
	box-shadow: none;
	cursor: auto;
}

.filterAll {
	background-color: #3e59e4;
}

.filterActive {
	background-color: #e87210;
}

.filterCompleted {
	background-color: #0ebe40;
}

.removeButton {
	margin-left: 5px;
	padding: 1px 6px;
	border: none;
	border-radius: 50%;
	color: #fff;
	background-color: #939393;
	transition: 0.4s;
}

.removeButton:hover {
	background-color: #adadad;
}

.todolistTitle {
	margin: 0 0 10px 0;
	color: #333;
	font-size: 25px;
}