.App {
	padding: 30px;
	display: flex;
}

.App>div {
	margin-right: 50px;
}

.todolistBlock {
	padding: 15px;
	border: 3px solid #3e59e4;
	border-radius: 5px;
}

.input:focus {
	outline: none;
}

.errorInput {
	border: 2px solid red;
}

.errorMessage {
	color: red;
}

.task {
	font-weight: 600;
	color: #333;
}

.completedTask {
	text-decoration: line-through;
	opacity: 0.6;
}

.filterButton,
.filterAll,
.filterActive,
.filterCompleted {
	margin-right: 5px;
	padding: 5px 15px;
	border: none;
	border-radius: 3px;
	background-color: #939393;
	color: #fff;
}

.filterAll {
	background-color: #3e59e4;
}

.filterActive {
	background-color: #e87210;
}

.filterCompleted {
	background-color: #0ebe40;
}

.removeButton {
	margin-left: 5px;
	border: none;
	border-radius: 50%;
	color: #fff;
	background-color: #939393;
}

.todolistTitle {
	margin: 0 0 10px 0;
	color: #333;
	font-size: 25px;
}